Nama : Muhamad Fahrurrozi

# Soal Beginner

## No.1

Buatlah python syntax untuk membuat data frame seperti berikut, dan simpan dengan nama “data”

![Deskripsi Gambar](Picture1.png)

In [ ]:
data = pd.DataFrame({'no'             : [1,2,3,4,5],
                'nama_siswa'       : ['Adi', 'Budi', 'Carli', 'Dadan', 'Endang'],
                'umur'             : [15, 16, 14, None, 16],
                'email'            : ['adi@gmail.com','budi@gmail.com', 'carlirakamin.com',
                                        'dadan@rakamin.com', 'endang@gmail.com'],
                'score_matematika' :[80, 90, 100, 95, 97],
                'score_ekonomi'    :[90, 95, 100, 86, None],
                'score_olahraga'   :[97, 95, 96, 100, 94]
                })
data.to_csv('data.csv', index=False)

## No.2

Dari output no.1 di atas, lakukan steps berikut secara berurutan

- Urutkan data frame berdasarkan kolom score_matematika dari nilai terbesar hingga nilai terkecil.simpan hasilnya dengan nama “data_sorted” 
- Dari “data_sorted” tersebut, ambil baris pada siswa dengan score_matematika terkecil. simpan hasilnya dengan nama “data_lowest_score”

Siapa nama siswa dengan score_matematika terkecil tersebut?

In [22]:
import pandas as pd
data = pd.read_csv('data.csv')

data_sorted = data.sort_values(by='score_matematika', ascending=False)
data_lowest_score = data_sorted.tail(1)

print("\nData Sorted DataFrame:")
print(data_sorted)
print("\nData lowest Score DataFrame:")
print(data_lowest_score)

nama_siswa_terkecil = data_lowest_score['nama_siswa'].values[0]
print("Nama siswa dengan score_matematika terkecil:", nama_siswa_terkecil)

Data Sorted DataFrame:
   no nama_siswa  umur              email  score_matematika  score_ekonomi  \
2   3      Carli  14.0   carlirakamin.com               100          100.0
4   5     Endang  16.0   endang@gmail.com                97            NaN
3   4      Dadan   NaN  dadan@rakamin.com                95           86.0
1   2       Budi  16.0     budi@gmail.com                90           95.0
0   1        Adi  15.0      adi@gmail.com                80           90.0

   score_olahraga
2              96
4              94
3             100
1              95
0              97

Data lowest Score DataFrame:
   no nama_siswa  umur          email  score_matematika  score_ekonomi  \
0   1        Adi  15.0  adi@gmail.com                80           90.0

   score_olahraga
0              97
Nama siswa dengan score_matematika terkecil: Adi

## No.3

Dari output no.1 di atas, lakukan steps berikut secara berurutan

- Filter siswa yang memiliki email ber-domain gmail DAN memiliki score_ekomomi tidak null simpan hasilnya dengan nama “data_siswa_gmail”
- Berapa umur rata-rata dari siswa di “data_siswa_gmail”  tersebut?

In [24]:
import pandas as pd
data = pd.read_csv('data.csv')

data_siswa_gmail = data[(data['email'].str.contains('@gmail.com')) & (data['score_ekonomi'].notnull())]
rata_rata_umur = data_siswa_gmail['umur'].mean()

print("Umur rata-rata dari siswa di 'data_siswa_gmail':", rata_rata_umur)

Umur rata-rata dari siswa di 'data_siswa_gmail': 15.5

## No.4

Buatlah data frame berikut, dan simpan dengan nama “additional_data”

![Deskripsi Gambar](Picture2.png)

Kemudian append “additional_data” tersebut dengan data frame “data” pada no.1 di atas. simpan dengan nama “new_data”.
berapa median umur mereka sekarang? (setelah append dilakukan)

In [34]:
additional_data = pd.DataFrame({'no'               : [6,7],
                                'nama_siswa'       : ['Fauzan','Guntur'],
                                'umur'             : [15, 16],
                                'email'            : ['fauzan@gmail.com', 'guntur@gmail.com'],
                                'score_matematika' : [80, 90],
                                'score_ekonomi'    : [90, 95],
                                'score_olahraga'   : [97, 95]
                            })

additional_data.to_csv('additional_data.csv', index=False)
new_data = pd.concat([data, additional_data],ignore_index=True)
new_data.to_csv('new_data.scv',index=False)

median_umur = new_data['umur'].mean()
print("umur rata-rata:", median_umur)

umur rata-rata: 15.333333333333334

## No.5

Buatlah data frame berikut, dan simpan dengan nama “data_address”

![Deskripsi Gambar](Picture3.png)

Kerjakan step ini secara berurutan:

- Lakukanlah merge data frame “new_data” pada no.4 di atas dengan “data_address”
- Bandingkan umur rata-rata siswa per alamat mereka berasal

Pada alamat yang mana, umur rata-rata mereka yang paling kecil?

In [36]:
data_address = pd.DataFrame({'nama_siswa' :['Adi', 'Budi', 'Carli', 'Dadan', 'Endang', 'Halim'],
                            'alamat'     :['DKI Jakarta', 'DKI Jakarta', 'Banten', 'Banten', 'Jawa Barat', 'Aceh']
                            })
merge_data = new_data.merge(data_address,
                            left_on='nama_siswa',
                            right_on='nama_siswa',
                            how='left'
                        )
avg_umur = merge_data.groupby('alamat').agg({'umur' : 'mean'}).reset_index()
alamat_siswa_terkecil = avg_umur[avg_umur['umur']==avg_umur['umur'].min()]

print("umur rata-rata siswa per alamat:")
print(avg_umur)

print("\nAlamat dengan umur rata rata siswa terkecil:")
print(alamat_siswa_terkecil)

umur rata-rata siswa per alamat:
        alamat  umur
0       Banten  14.0
1  DKI Jakarta  15.5
2   Jawa Barat  16.0

Alamat dengan umur rata rata siswa terkecil:
   alamat  umur
0  Banten  14.0

# Soal Intermediate

## No.6

Import ke-3 file Excel yang telah disediakan di sini. Simpan data frame dengan nama airlines, airports dan flights
Case:

Department of Transportation sedang melakukan audit data sepanjang tahun 2015, mereka membutuhkan data-data berikut:
- Total penerbangan per bulan selama 2015 (3 point)
- Total penerbangan yang CANCELLED per bulan (3 point)
- Rata-rata, Minimum dan Maksimum ELAPSED_TIME per bulan

In [37]:
import pandas as pd

df = pd.read_excel('1data_flights.xlsx')
df = df[df['YEAR'] == 2015]

total_flights = df.groupby('MONTH').size()
total_cancelled = df[df['CANCELLED'] == 1].groupby('MONTH').size()
elapsed_time_stats = df.groupby('MONTH')['ELAPSED_TIME'].agg(['mean', 'min', 'max'])

print("Total penerbangan per bulan:")
print(total_flights)
print("\nTotal penerbangan yang dibatalkan per bulan:")
print(total_cancelled)
print("\nStatistik waktu berlalu per bulan:")
print(elapsed_time_stats)

Total penerbangan per bulan:
MONTH
1     798
2     715
3     877
4     824
5     840
6     839
7     937
8     887
9     787
10    856
11    822
12    818
dtype: int64

Total penerbangan yang dibatalkan per bulan:
MONTH
1     20
2     30
3     22
4      9
5      5
6     18
7     14
8      8
9      1
10     2
11     8
12    17
dtype: int64

Statistik waktu berlalu per bulan:
             mean   min    max
MONTH
1      132.153548  31.0  428.0
2      140.375731  24.0  408.0
3      142.357562  30.0  622.0
4      138.420859  31.0  570.0
5      136.516827  34.0  466.0
6      139.057317  32.0  398.0
7      141.110990  30.0  511.0
8      142.948689  27.0  655.0
9      137.667516  34.0  495.0
10     134.366940  31.0  388.0
11     139.198032  32.0  392.0
12     144.340426  33.0  453.0

## No.7

Case:
Department of Transportation sedang melakukan analisis data	untuk seluruh penerbangan dari airport: john f. kennedy dan northwest florida.

Mereka ingin mengetahui total penerbangan per masing-masing	destinasi airports dan rata-rata distance dari kedua airports tersebut ke setiap destinasi yang ada.

question:	Destinasi airport** mana yang paling banyak jumlah	penerbangannya?	**sebutkan dalam bentuk nama airport (bukan code airport)

In [16]:
import pandas as pd

airports = pd.read_excel('data_airports.xlsx')
flights = pd.read_excel('data_flights.xlsx')

selected_flights = flights[['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'DISTANCE']]
selected_airports = airports[['IATA_CODE', 'AIRPORT']]

flights = selected_flights.merge(selected_airports, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='inner')
flights = flights.drop(columns=['IATA_CODE'])
flights.rename(columns={'AIRPORT': 'DESTINATION_AIRPORT_NAME'}, inplace=True)

jfk_flights = flights[flights['ORIGIN_AIRPORT'].isin(['JFK', 'ECP'])]
jfk_stats = jfk_flights.groupby(['DESTINATION_AIRPORT_NAME','ORIGIN_AIRPORT']).agg(
    Total_Flights=('DISTANCE', 'count'),
    Average_Distance=('DISTANCE', 'mean')
).reset_index()

print("Statistik Bandara JFK dan ECP")
print(jfk_stats)

most_flights_airport = jfk_stats[jfk_stats['Total_Flights'] == jfk_stats['Total_Flights'].max()]['DESTINATION_AIRPORT_NAME']
print("\nDestinasi bandara terbanyak adalah:", most_flights_airport)

Statistik Bandara JFK dan ECP
                             DESTINATION_AIRPORT_NAME ORIGIN_AIRPORT  \
0              Austin-Bergstrom International Airport            JFK
1               Buffalo Niagara International Airport            JFK
2                    Burlington International Airport            JFK
3     Charleston International Airport/Charleston AFB            JFK
4             Charlotte Douglas International Airport            JFK
5                Chicago O'Hare International Airport            JFK
6             Cleveland Hopkins International Airport            JFK
7                               Cyril E. King Airport            JFK
8                                   Dallas Love Field            ECP
9                        Denver International Airport            JFK
10    Fort Lauderdale-Hollywood International Airport            JFK
11   Gen. Edward Lawrence Logan International Airport            JFK
12               George Bush Intercontinental Airport            ECP
13            Greater Rochester International Airport            JFK
14   Hartsfield-Jackson Atlanta International Airport            ECP
15   Hartsfield-Jackson Atlanta International Airport            JFK
16                     Honolulu International Airport            JFK
17                 Indianapolis International Airport            JFK
18                 Jacksonville International Airport            JFK
19               Long Beach Airport (Daugherty Field)            JFK
20                  Los Angeles International Airport            JFK
21  Louis Armstrong New Orleans International Airport            JFK
22             Luis Muñoz Marín International Airport            JFK
23                     McCarran International Airport            JFK
24                                  Mercedita Airport            JFK
25                        Miami International Airport            JFK
26                    Nashville International Airport            ECP
27                    Nashville International Airport            JFK
28                      Oakland International Airport            JFK
29                      Orlando International Airport            JFK
30                   Palm Beach International Airport            JFK
31           Phoenix Sky Harbor International Airport            JFK
32                Port Columbus International Airport            JFK
33                     Portland International Airport            JFK
34                           Rafael Hernández Airport            JFK
35               Raleigh-Durham International Airport            JFK
36          Ronald Reagan Washington National Airport            JFK
37               Salt Lake City International Airport            JFK
38                  San Antonio International Airport            JFK
39  San Diego International Airport (Lindbergh Field)            JFK
40                San Francisco International Airport            JFK
41               Seattle-Tacoma International Airport            JFK
42            Southwest Florida International Airport            JFK
43                        Tampa International Airport            JFK
44            Washington Dulles International Airport            JFK
45                           William P. Hobby Airport            ECP

    Total_Flights  Average_Distance
0               3            1521.0
1               3             301.0
2               2             266.0
3               5             636.0
4               8             541.0
5               2             740.0
6               3             425.0
7               2            1623.0
8               2             674.0
9               2            1626.0
10              6            1069.0
11             15             187.0
12              1             572.0
13              1             264.0
14              3             240.0
15              3             760.0
16              1            4983.0
17              1             665.0
18              3             828.0
19              1            2465.0
20             21            2475.0
21              1            1182.0
22              4            1598.0
23              7            2248.0
24              1            1617.0
25              8            1089.0
26              1             401.0
27              1             765.0
28              1            2576.0
29              9             944.0
30              6            1028.0
31              3            2153.0
32              1             483.0
33              1            2454.0
34              2            1576.0
35              2             427.0
36              2             213.0
37              2            1990.0
38              1            1587.0
39              2            2446.0
40             23            2586.0
41              3            2422.0
42              3            1074.0
43              7            1005.0
44              1             228.0
45              1             571.0

Destinasi bandara terbanyak adalah: 40    San Francisco International Airport
Name: DESTINATION_AIRPORT_NAME, dtype: object

# Soal Advanced

## No.8

Buatlah 2 dataframe mengikuti petunjuk berikut:

df_1 :  Filter dataset 01 telecom_revenue.csv dengan multiple kondisi
- MonthlyRevenue > 10
- Occupation terdiri dari Professional, Student, and Crafts

df_2 :  Filter dataset 02 telecom_usage.csv dengan multiple kondisi
- CustomerCareCalls diawali digit genap (2, 4, 6 atau 8)
- nilai UnansweredCalls > .BlockedCalls

Hitunglah total CustomerID dan rata-rata DroppedCalls untuk masing-masing occupation.
pada occupation apa, rata-rata DroppedCalls paling besar?

In [38]:
import pandas as pd

df_revenue = pd.read_csv('01 telecom_revenue.csv')
df_usage = pd.read_csv('02 telecom_usage.csv')

df_1 = df_revenue[(df_revenue['MonthlyRevenue'] > 10) & (df_revenue['Occupation'].isin(['Professional', 'Student', 'Crafts']))]
df_2 = df_usage[(df_usage['CustomerCareCalls'].astype(str).str[0].isin(['2', '4', '6', '8'])) & (df_usage['UnansweredCalls'] > df_usage['BlockedCalls'])]

df = pd.merge(df_1, df_2, on='CustomerID')
total = df.groupby('Occupation').agg({'CustomerID': 'count', 'DroppedCalls': 'mean'})
max_dropped_calls = result['DroppedCalls'].idxmax()

print(total)
print("Occupation dengan rata-rata DroppedCalls tertinggi adalah", max_dropped_calls)

              CustomerID  DroppedCalls
Occupation
Crafts                 4     10.600000
Professional          15      4.786667
Occupation dengan rata-rata DroppedCalls tertinggi adalah Crafts